<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro de Equipamentos</title>
    <a href="{% url 'logout' %}">Sair</a>
    <a href="{% url 'home'%}">Home</a>
</head>
<body>
    <ul>
        {% for registros in variavel %}
            <li>
                <a href="{% url 'AtualizarEquipamentos' registros.id %}">{{registros.nome}}</a>
                <a href="{% url 'DeletarEquipamentos' registros.id %}">Deletar Equipamento</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{%url 'CriarEquipamentos'%}">Novo Equipamento</a>
</body>
</html>