<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro de Doencas</title>
    <a href="{% url 'logout' %}">Sair</a>
    <a href="{% url 'home'%}">Home</a>
</head>
<body>
    <ul>
        {% for registros in variavel %}
            <li>
                <a href="{% url 'AtualizarEnfermidades' registros.id %}">{{registros.nome}}</a>
                <a href="{% url 'DeletarEnfermidades' registros.id %}">Deletar Doenca</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{%url 'CriarEnfermidades'%}">Cadastrar Doenca</a>
</body>
</html>