<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro de Pacientes</title>
    <a href="{% url 'logout' %}">Sair</a>
    <a href="{% url 'home'%}">Home</a>
</head>
<body>
    <ul>
        {% for registros in variavel %}
            <li>
                <a href="{% url 'AtualizarPacientes' registros.id %}">{{registros.nome}} {{registros.sobrenome}}</a>
                <a href="{% url 'DeletarPacientes' registros.id %}">Deletar Paciente</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{%url 'CriarPacientes'%}">Novo Paciente</a>
</body>
</html>